*{
    align-self: center;
}
 body{
    background: linear-gradient(to right,darkgreen,darkblue);
 }
.score{
    background-color: navy;
}
.fifar{
    text-align: center;
    background: linear-gradient(to ,navy, azure);
    span style="color: white; text-shadow: 2px 3px 6px darkblue;
}
.sand{
    text-align: center;
    background-color:yellow;
    padding: 10px;
    column-gap: 15px;
}
.st{
    display: flex;
    background-color:darkcyan;
    padding: 10px;
    column-gap: 15px;
}
.dark{
    width: 200px;
    background-color:darkblue;
    flex-grow: 3;
    border: 1px solid white;
}
.footer{
    background-color:black;
    padding: 10px;
    text-align: center;
}
.rar{
    text-align: center;
    background-color:darkcyan;
}
.zanzibar{
    text-align: center;
}
.freak{
    display: flex;
    column-gap: 15px;
    background-color:darkcyan;
    padding: 10px;
}
.free{
    text-align: center;
}
button:hover{
    box-shadow: 2px 3px 9px black;
}
.magnet{
    background-color: azure;
}
.footers{
    background-color:black;
    padding: 10px;
    text-align: center;
}
.foots{
    background-color:black;
    padding: 10px;
    text-align: center;
}
.lad{
    background-color: darkblue;
    border: 1px solid darkcyan;
}
.fad{
    text-align: end;
}
.lil{
    text-align: center;

}
.father{
    text-align: center;
    padding: 10px;
}
.man{
    display: flex;
    flex-direction: column;
}
.woman{
    display: flex;
    flex-direction: column;
}
.child1{
    background-color: black;
}
.child2{
    background-color: black;
}
.child3{
    text-align: left;
    background-color: black;
}
.childs{
    background-color: black;
}